@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-display {
  font-family: Inter;
  @apply text-[28px] md:text-[36px];
  @apply font-bold;
  @apply leading-[32px] md:leading-[44px];
  @apply text-[#FFFFFF];
}

.text-body {
  font-family: Inter;
  @apply text-[15px];
  @apply font-normal;
  @apply leading-[25px];
  @apply text-[#ffffff] opacity-75;
}

.text-overline {
  font-family: Lexend Deca;
  @apply text-[12px];
  @apply font-normal;
  @apply leading-[25px];
  @apply tracking-[1px];
  @apply text-[#a4a3af];
}
